@using entity.Concrate
@model Parent
@{
	ViewData["Title"] = "Veli Ekleme";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="contact-form-area pb--120">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="cnt-title">
					<h4>Veli <span>oluşturun</span></h4>
					<p>Veli oluşturun ve eğitimin gelişmesine yardımcı olun</p>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<form method="post">
				<div class="row">
					<div class="col-md-4">
						<h2 class="mb-2">Veli İsmi</h2>
						@Html.TextBoxFor(x => x.FirstName, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli Soyismi</h2>
						@Html.TextBoxFor(x => x.LastName, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli T.C. Kimlik Numarası</h2>
						@Html.TextBoxFor(x => x.TC, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli Doğum Tarihi</h2>
						@Html.TextBoxFor(model => model.BirtDay, new { placeholder = "Lütfen metin giriniz...", @class = "form-control", @id = "birthDayPicker" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli Telefon Numarası</h2>
						@Html.TextBoxFor(x => x.Phone, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli E-Posta Adresi</h2>
						@Html.TextBoxFor(x => x.Email, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli Doğum Yeri</h2>
						@Html.TextBoxFor(x => x.Hometown, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Veli Adres ID</h2>
						@Html.TextBoxFor(x => x.Adress_Id, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					@* 					<div class="col-md-4">
					<h2 class="mb-2">Veli Adres Seçimi</h2>
					@Html.DropDownListFor(x => x.Adress_Id, new SelectList(ViewBag.Adresses, "Adress_Id", "Adress_Id"), "Lütfen bir adres seçiniz...", new { @class = "form-control" })
					</div> *@
					<div class="col-md-4">
						<h2 class="mb-2">Veli Statüsü</h2>
						@Html.DropDownList("Status", new SelectList(new List<Object>
						{
						new { Value = "true", Text = "Aktif" },
						new { Value = "false", Text = "Pasif" }
						}, "Value", "Text"), "Lütfen veli statüsünü seçiniz...", new { @class = "form-control" })
					</div>
					<div class="col-md-4 text-center">
						<button type="submit">VELİ OLUŞTUR</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

