@using entity.Concrate
@model Teacher
@{
	ViewData["Title"] = "Öğretmen Ekleme";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="contact-form-area pb--120">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-10 offset-md-1">
				<div class="cnt-title">
					<h4>Öğretmen <span>oluşturun</span></h4>
					<p>Öğretmen oluşturun ve eğitimin gelişmesine yardımcı olun</p>
				</div>
			</div>
		</div>
		<div class="contact-form mt-5">
			<form method="post">
				<div class="row">
					<div class="col-md-6">
						<h5 class="mb-2">İsim</h5>
						@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", maxlength = 50 })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Soyisim</h5>
						@Html.TextBoxFor(x => x.LastName, new { @class = "form-control", maxlength = 20 })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> T.C. Kimlik Numarası</h5>
						@Html.TextBoxFor(x => x.TC, new { @class = "form-control", maxlength = 11})
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Doğum Tarihi</h5>
						@Html.TextBoxFor(model => model.BirthDay, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Telefon Numarası</h5>
						@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Başında 0 olmadan giriniz.", maxlength = 10 })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> E-Posta Adresi</h5>
						@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2">Şehir</h5>
						@Html.DropDownListFor(x => x.City_Id, new SelectList(ViewBag.City, "City_Id", "Name"), "Lütfen bir il seçiniz...", new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Önizleme Metni</h5>
						@Html.TextBoxFor(x => x.PreBio, new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Detay Metni</h5>
						@Html.TextBoxFor(x => x.DetailBio, new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Önizleme Fotoğrafı Dosya Yolu</h5>
						@Html.TextBoxFor(x => x.PrePhotoURL, new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Detay Fotoğrafı Dosya Yolu</h5>
						@Html.TextBoxFor(x => x.DetailPhotoURL, new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Alan Dersi</h5>
						@Html.DropDownListFor(x => x.Lesson_Id, new SelectList(ViewBag.Lessons, "Lesson_Id", "Name"), "Lütfen bir ders seçiniz...", new { @class = "form-control" })
					</div>
					<div class="col-md-6">
						<h5 class="mb-2"> Statü</h5>
						@Html.DropDownList("Status", new SelectList(new List<Object>
						{
						new { Value = "true", Text = "Aktif" },
						new { Value = "false", Text = "Pasif" }
						}, "Value", "Text"), "Lütfen  statü seçiniz...", new { @class = "form-control" })
					</div>
					<div class="col-md-12 text-center">
						<button type="submit">ÖĞRETMEN OLUŞTUR</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>