<div class="all-teachers  pt--120 pb--70">
	<div class="container">
		<div class="row">
			@foreach (var t in Model)
			{
				<div class="col-lg-4 col-md-6">
					<div class="card mb-5">
						<img src="@t.PrePhotoURL" alt="image">
						<div class="card-body teacher-content p-25">
							<h4 class="card-title mb-1"><a href="/Teachers/Details/@t.Teacher_Id">@t.FirstName <b>@t.LastName</b></a></h4>
							@foreach (var item in ViewBag.Lesson)
							{
								if (item.Lesson_Id == t.Lesson_Id)
								{
									<span class="primary-color d-block mb-4">@item.Name Dersi Öğretmeni</span>
								}
							}
							<p class="card-text">@t.PreBio</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>