@using entity.Concrate
@model Adress
@{
	ViewData["Title"] = "Adres Düzenleme";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AdressUpdate", "Adress", FormMethod.Post))
{
	<div class="contact-form-area pb--120">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="cnt-title">
						<h4>Adres <span>düzenleyin</span></h4>
						<p>Adres düzenleyin blog'a katkıda bulunun ve eğitimin gelişmesine yardımcı olun</p>
					</div>
				</div>
			</div>
			<div class="contact-form">
				<form method="post">
					<div class="row">
						@Html.TextBoxFor(model => model.Adress_Id, new { style = "display:none;" })
						<div class="col-md-4">
							<h2 class="mb-2">İl</h2>
							@Html.TextBoxFor(model => model.City, new { @class = "form-control" })
						</div>
						<div class="col-md-4">
							<h2 class="mb-2">İlçe</h2>
							@Html.TextBoxFor(model => model.Town, new { @class = "form-control" })
						</div>
						<div class="col-md-4">
							<h2 class="mb-2">Mahalle</h2>
							@Html.TextBoxFor(model => model.Neighbourhood, new { @class = "form-control" })
						</div>
						<div class="col-md-4">
							<h2 class="mb-2">Sokak</h2>
							@Html.TextBoxFor(model => model.Street, new { @class = "form-control" })
						</div>
						<div class="col-md-4">
							<h2 class="mb-2">Bina Numarası</h2>
							@Html.TextBoxFor(model => model.NO, new { @class = "form-control" })
						</div>
						<div class="col-md-4">
							<h2 class="mb-2">Kapı Numarası</h2>
							@Html.TextBoxFor(model => model.Apartment, new { @class = "form-control" })
						</div>
						<div class="col-md-12 mt-5 text-center">
							<button type="submit" class="btn-primary">DEĞİŞKLİKLERİ KAYDET</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
}