@using entity.Concrate
@model Adress
@{
	ViewData["Title"] = "Adres Ekleme";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="contact-form-area pb--120">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="cnt-title">
					<h4>Adres <span>oluşturun</span></h4>
					<p>Adres oluşturarak blog'a katkıda bulunun ve eğitimin gelişmesine yardımcı olun</p>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<form method="post">
				<div class="row">
					<div class="col-md-4">
						<h2 class="mb-2">İl</h2>
						@Html.TextBoxFor(x => x.City, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">İlçe</h2>
						@Html.TextBoxFor(x => x.Town, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Mahalle</h2>
						@Html.TextBoxFor(x => x.Neighbourhood, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Sokak</h2>
						@Html.TextBoxFor(x => x.Street, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Bina Numarası</h2>
						@Html.TextBoxFor(x => x.NO, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Kapı Numarası</h2>
						@Html.TextBoxFor(x => x.Apartment, new { placeholder = "Lütfen metin giriniz...", @class = "form-control" })
					</div>
					<div class="col-md-4">
						<h2 class="mb-2">Adres Statüsü</h2>
						@Html.DropDownList("Status", new SelectList(new List<Object>
						{
						new { Value = "true", Text = "Aktif" },
						new { Value = "false", Text = "Pasif" }
						}, "Value", "Text"), "Lütfen adres statüsünü seçiniz...", new { @class = "form-control" })
					</div>
					<div class="col-md-4 text-center">
						<button type="submit">ADRES OLUŞTUR</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
